html {
  font: message-box;
  color: #333;
}

body {
  font-size: 1.25rem;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
}

a, a:visited {
  color: rgb(10, 141, 255);
}

.options {
  display: grid;
  align-items: center;
  grid-template-columns: 260px auto;
  margin-bottom : 10px;
}

#primaryOptions {
  grid-auto-rows: 1fr;
}

input[type="checkbox"] {
  display: block;
  height: 33px;
  width: 33px;
}

#customCSS {
  width: 250px;
  height: 100px;
}

#compactMode {
  margin-left: 10px;
}

#help {
  margin-left: 5px;
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/help.svg");
}
