body {
  background-color: hsl(0, 0%, 99%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.25rem;
  color: #333;
}

h1 {
  font-size: 1.6em;
  font-weight: 400;
  margin: 0;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
}

#options {
  display: grid;
  align-items: center;
  grid-template-columns: 260px auto;
}

#alwaysShrink {
  display: block;
  height: 33px;
  width: 33px;
}
