ul.contextmenu {
  display: inline-block;
  position: absolute;
  border: solid 1px #CCCCCC;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  box-shadow: 1px 1px 1px #888888;
  z-index: 100;
}

.contextmenu > hr {
  display: block;
  height: 1px;
  background-color: #D7D7D7;
  border: 0;
  margin: 0;
  margin-left: 23px;
  margin-right: 2px;
}

.contextmenu > li {
  display: block;
  font: -moz-pull-down-menu;
  padding: 3px 20px 3px 23px;
  -moz-user-select: none;
}

.contextmenu > li:hover {
  background-color: #3E93F9;
  color: white;
}

.contextmenu > li.disabled {
  pointer-events: none;
  color: grey;
}

/* DARK THEME CUSTOMIZATIONS */
body.dark-theme ul.contextmenu {
  border: solid 1px rgba(12, 12, 13, 0.3);
  background-color: #38383d;
}

body.dark-theme .contextmenu > hr {
  background-color: #888;
}
