@import url("contextmenu.css");

:root {
    --tab-background-normal: 0, 0%, 99%;
    --tab-background-active: 0, 0%, 90%;
    --tab-background-hover: 0, 0%, 94%;
}

html, body {
    height: 100%;
}

body {
    background-color: hsl(var(--tab-background-normal));
    font: message-box;
    color: #000;
    display: flex;
    flex-direction: column;
}

#spacer {
    flex: 1;
}

#topmenu {
    display: flex;
    padding: 6px 4px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);

      /*Uncomment the line below to remove the top menu entirely*/
      /*display: none;*/
}

#newtab {
    margin: 0 4px;
    box-sizing: border-box;
    display: flex;
    flex: 0 20 auto;
    min-width: 26px;
    align-items: center;
    padding: 2px 4px;
    text-shadow: 0 1px rgba(255, 255, 255, .4);
}

/* This is important for event bubbling: when we click a tab, e.target
   will be the tab, and not one of its child elements */
img, .tab *:not(.clickable) {
    pointer-events: none;
}

#newtab-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 190px) {
    #newtab-label {
        display: none;
    }
}

#newtab-menu {
    display: flex;
    z-index: 1;
    position: absolute;
    top: 31px;
    left: 8px;
    flex-direction: column;
    background-color: #F2F2F2;
    border: 1px solid #C9C9C9;
    box-shadow: 1px 1px 1px #888888;
}

.newtab-menu-identity:hover {
    background-color: #D5D5D5;
}

.newtab-menu-identity {
    display: flex;
    align-items: center;
    padding: 7px 0 7px 22px;
}

.newtab-menu-identity-label {
    pointer-events: none;
    padding-left: 6px;
    padding-right: 16px;
}

[data-identity-color="blue"] {
  --identity-tab-color: #0996f8;
  --identity-icon-color: #00a7e0;
}

[data-identity-color="turquoise"] {
  --identity-tab-color: #01bdad;
  --identity-icon-color: #01bdad;
}

[data-identity-color="green"] {
  --identity-tab-color: #57bd35;
  --identity-icon-color:  #7dc14c;
}

[data-identity-color="yellow"] {
  --identity-tab-color: #ffcb00;
  --identity-icon-color: #ffcb00;
}

[data-identity-color="orange"] {
  --identity-tab-color: #ff9216;
  --identity-icon-color: #ff9216;
}

[data-identity-color="red"] {
  --identity-tab-color: #d92215;
  --identity-icon-color: #d92215;
}

[data-identity-color="pink"] {
  --identity-tab-color: #ea385e;
  --identity-icon-color: #ee5195;
}

[data-identity-color="purple"] {
  --identity-tab-color: #7a2f7a;
  --identity-icon-color: #7a2f7a;
}

[data-identity-icon="fingerprint"] {
  --identity-icon: url("img/usercontext.svg#fingerprint");
}

[data-identity-icon="briefcase"] {
  --identity-icon: url("img/usercontext.svg#briefcase");
}

[data-identity-icon="dollar"] {
  --identity-icon: url("img/usercontext.svg#dollar");
}

[data-identity-icon="cart"] {
  --identity-icon: url("img/usercontext.svg#cart");
}

[data-identity-icon="circle"] {
  --identity-icon: url("img/usercontext.svg#circle");
}

[data-identity-icon="gift"] {
  --identity-icon: url("img/usercontext.svg#gift");
}

[data-identity-icon="vacation"] {
  --identity-icon: url("img/usercontext.svg#vacation");
}

[data-identity-icon="food"] {
  --identity-icon: url("img/usercontext.svg#food");
}

[data-identity-icon="fruit"] {
  --identity-icon: url("img/usercontext.svg#fruit");
}

[data-identity-icon="pet"] {
  --identity-icon: url("img/usercontext.svg#pet");
}

[data-identity-icon="tree"] {
  --identity-icon: url("img/usercontext.svg#tree");
}

[data-identity-icon="chill"] {
  --identity-icon: url("img/usercontext.svg#chill");
}

.newtab-menu-identity-icon {
    pointer-events: none;
    width: 16px;
    height: 16px;
    background-image: var(--identity-icon);
    -moz-context-properties: fill;
    fill: var(--identity-icon-color);
    filter: url("img/filters.svg#fill");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.topmenu-button {
    border: 1px solid transparent; /* When we show a border on hover it won't move */
    border-radius: 2.5px;
}

#newtab.menuopened,
.topmenu-button:hover {
    border: 1px solid hsla(0, 0%, 0%, 0.16);
    background-color: hsla(0, 0%, 0%, 0.1);
}

.topmenu-button:active {
    background-color: hsla(0, 0%, 0%, 0.16);
}

#newtab-icon {
    min-width: 16px;
    margin-right: 2px;
}

#searchbox {
    display: flex;
    margin: 0 4px;
    flex: 20 0 auto;
    min-width: 45px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 2.5px;
    transition: border-color 0.1s, box-shadow 0.1s;
}

#searchbox.focused {
    border: 1px solid hsla(210, 100%, 60%, 0.6);
    box-shadow: 0 0 0 2px hsla(210, 100%, 60%, 0.45);
}

#searchbox-input {
    flex: 1;
    margin-left: 1;
    padding: 0;
    box-shadow: none;
    border: 0;
}

#settings {
    flex-shrink: 0;
    min-width: 18px;
    padding: 0 12px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("img/settings.svg");
}

#tablist-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#tablist {
    overflow-x: hidden;
}

.tab {
    display: flex;
    align-items: center;
    height: 40px !important;
    font-size: 12px !important;
    position: relative;
}

.tab.active {
    background-color: hsl(var(--tab-background-active));
}

.tab:not(.active):hover {
    background-color: hsl(var(--tab-background-hover));
}

.tab-context:not(.hasContext) {
    --identity-tab-color: #1aa1ff;
}

.tab-context {
  margin-right: 5px; /*Adds a slight gap before the tab's text*/
    min-width: 6px;
    height: 100%;
    background-image:
        linear-gradient(to right, hsla(0, 0%, 0%, 0.25) 17%, hsla(0, 0%, 0%, 0.1) 17%, transparent 67%),
        linear-gradient(to right, var(--identity-tab-color), var(--identity-tab-color));
    background-position: 0 0;
    background-repeat: no-repeat;
    transition: background-position 150ms ease-out;
}

.tab:not(.active) > .tab-context.hasContext {
    background-position: -3px 0;
}

.tab:not(.active) > .tab-context:not(.hasContext) {
    background-position: -6px 0;
}

.tab-icon-overlay {
    display: none;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    margin-left: -16px;
    left: 16px;
    top: -19px;
    background-color: white;
    background-size: contain;
    background-clip: padding-box;
    border: 1px solid hsla(0, 0%, 0%, 0.2);
    box-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.5);
}

#tablist.shrinked .tab-icon-overlay {
    left: 13px;
    top: -7px;
}

.tab-icon-overlay.sound {
    display: block;
    background-image: url("img/tab-audio-small.svg#tab-audio");
}

.tab-icon-overlay.muted {
    display: block;
    background-image: url("img/tab-audio-small.svg#tab-audio-muted");
}

#tablist:not(.shrinked) .tab-meta-image {
    margin: 6px;
    min-width: 54px;
    height: 40px;
    border: 0;
    background-image: url("img/thumbnail-blank.svg");
    background-size: contain;
    background-color: white;
    background-repeat: no-repeat;
    box-shadow: 0 0 2px 2px hsla(0, 0%, 0%, 0.02), 0 2px 0 hsla(0, 0%, 0%, 0.05), 0 0 0 1px hsla(0, 0%, 0%, 0.2);
}

#tablist.shrinked .tab-meta-image {
    background: none !important; /* Because the JS script sets it manually */
    /* Make it the same size as the favicon it contains */
    height: 20px;
    width: 20px;
}

.tab-icon {
    width: 20px;
    height: 20px;
    padding: 2px;
}

#tablist:not(.shrinked) .tab-icon {
    margin-left: 0px;
    margin-top: 20px;
    border-radius :2px;
    background-color: white;
    box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.08), 0 0 0 1px hsla(0, 0%, 0%, 0.08);
}

#tablist:not(.shrinked) .tab-meta-image.has-thumbnail {
    border: 2px solid white;
}
#tablist:not(.shrinked) .tab-meta-image.has-thumbnail > .tab-icon {
    margin-left: -2px;
    margin-top: 18px;
}

.tab-title-wrapper {
    flex: 1;
    display: flex;
    min-width: 0;
    flex-direction: column;
}

#tablist.shrinked .tab-title-wrapper {
    margin-left: 6px;
}

.tab-title, .tab-host {
    white-space: nowrap;
    overflow: hidden;
}

.tab-host {
    color: rgb(127, 127, 127);
}

#tablist.shrinked .tab-host {
    display: none;
}

.tab-title-wrapper::after {
    content: '';
    position: absolute;
    width: 60px;
    top: 0;
    bottom: 0;
    right: 0;
    --tab-background: var(--tab-background-normal);
    background-image: linear-gradient(to right, hsla(var(--tab-background), 0), hsl(var(--tab-background)) 30%);
    transform: translateX(36px);
}

.tab.active > .tab-title-wrapper::after {
    --tab-background: var(--tab-background-active);
}

.tab:not(.active):hover > .tab-title-wrapper::after {
    --tab-background: var(--tab-background-hover);
}

.tab:not(.pinned):hover > .tab-title-wrapper::after {
    transform: translateX(0);
}

.tab.pinned .tab-title-wrapper::after {
    transform: translateX(8px);
}

.tab-pin {
    display: none;
}

.tab.pinned .tab-pin {
    min-width: 16px;
    height: 16px;
    margin-right: 12px;
    display: block;
    background-image: url("img/glyph-pin-pinned-12.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12px;
    z-index: 0;
}

.tab-close {
    display: none;
}

.tab:not(.pinned) > .tab-close {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    top: 0;
    bottom: 0;
    right: 12px;
    margin: auto;
    background-color: hsla(0, 0%, 0%, 0.1);
    background-image: url("img/glyph-close-16.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    border-radius: 2.5px;
    opacity: 0;
}

.tab:not(.pinned):hover > .tab-close {
    opacity: 1;
}

.tab-close:hover {
    background-color: hsla(0, 0%, 0%, 0.16) !important;
}
.tab-close:active {
    background-color: hsla(0, 0%, 0%, 0.2) !important;
}

#tablist.shrinked .tab {
    height: 35px;
}

#moretabs:not([hasMoreTabs]) {
    display: none;
}

#moretabs {
    display: flex;
    align-items: center;
    height: 36px;
    padding-left: 31px;
}

#moretabs:hover {
    background-color: hsla(0, 0%, 0%, 0.1);
}

.hidden {
    display: none !important;
}

/* DARK THEME CUSTOMIZATIONS */
body.dark-theme {
    --tab-background-normal: 223, 15.2%, 18%;
    --tab-background-active: 221, 41.4%, 33.1%;
    --tab-background-hover: 222, 28.3%, 25.55%;
    color: #c0c0c0; /*Lightened text to make it easier to read*/
}

/*Unselected tab text is slightly muted in appearance*/
body.dark-theme .tab{
  color: #808080;
}

/*Adds a background to tab icons to make them easier to see*/
body.dark-theme .tab-icon{
  background-color: #e6e6e6;
  border-radius: 20px;
  filter: brightness(50%);
}

body.dark-theme #newtab {
    text-shadow: 0 1px rgba(0, 0, 0, .4);
}

body.dark-theme #newtab.menuopened,
body.dark-theme .topmenu-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

body.dark-theme .topmenu-button:active {
    background-color: rgba(255, 255, 255, 0.2);
}

body.dark-theme #newtab-menu {
    background-color: #3D414A;
}

body.dark-theme .newtab-menu-identity:hover {
    background-color: rgb(86, 117, 185);
}

body.dark-theme #searchbox {
    border: 1px solid rgb(29, 35, 40);
}

body.dark-theme #searchbox-icon,
body.dark-theme #searchbox-input {
    background-color: #111; /*Darken this to help it stand out more*/
    color: rgb(245, 247, 250);
}

body.dark-theme .tab-host {
    color: #85846D;
}

body.dark-theme .tab.active .tab-host {
    color: #eaeaea;
}

body.dark-theme .tab-icon-overlay {
    background-color: #333;
}

/*Makes the new tab icon easier to see*/
body.dark-theme #newtab-icon{
  filter: brightness(200%);
}

/*Makes the pin icon easier to see*/
body.dark-theme .tab.pinned .tab-pin{
    background-image: url("img/glyph-pin-pinned-12-inverted.svg");
}

/*Makes the settings icon easier to see*/
body.dark-theme #settings {
    background-image: url("img/settings-inverted.svg");
}

/*Makes the tab close icon easier to see*/
body.dark-theme .tab:not(.pinned) > .tab-close {
    background-image: url("img/glyph-close-16-inverted.svg");
}

/*Brightens the tab icon background on hover*/
body.dark-theme .tab:hover .tab-icon{
    background-color: #e6e6e6;
    filter: brightness(75%);
}

/*Brightens the tab text on hover*/
body.dark-theme .tab:hover{
    color: #e6e6e6;
}

/*Makes active tab text white*/
body.dark-theme .tab.active{
    color: #fff;
}

/*Makes active tab icon background white*/
body.dark-theme .tab.active .tab-icon{
    background-color: #fff !important;
    filter: brightness(100%) !important;
}

/*Brightens the top menu to help distinguish it from the tabs*/
body.dark-theme #topmenu {
  background-color: #393f4c;
}
